FIRST_NAME="John"
LAST_NAME="Doe"
EMAIL="jdoe@example.com"
ADDRESS="123 Main Street"
ADDRESS_LINE_TWO="Apartment 100"
CITY="Anytown"
STATE="Minnesota"
ZIP_CODE="90210"
DATE_OF_BIRTH="01/01/1900" # DD/MM/YYYY
LAST_FOUR_SSN="1234"
LINKEDIN_URL="https://linked.in/asdf"
JOB_TITLE="Chief Enshittification Officer"
COMPANY_NAME="ACME Inc."
PHONE_NUMBER="651-488-8888" # https://www.youtube.com/watch?v=nQFDA0FPm54
REMOVE_INFORMATION=False # Set to `True` if you want your information removed
DRY_RUN=True # Set to "False" if you want to submit the request
BASE_TIMEOUT_IN_SECONDS=10
2CAPTCHA_API_KEY=""
ADVERTISING_ID="0000-0000-0000-0000" # UUID - MAID for Android and ???? for iOS, very hard to fidn on iOS
CHROMIUM_LOCATION="/snap/bin/chromium"
